{% extends 'base.html.twig' %}
{% block title %}Home|{{ parent() }}{% endblock %}
{% block central %}

<h1>Bucket List</h1>

<ul>
	{% for whishe in whishes %}
		<li><strong>{{whishe.id}}: {{ whishe.title }}</strong><small> by: {{whishe.author}} | {{whishe.dateCreated|date('Y/m/d H:i:s') }}</small></li>
	{% endfor %}
</ul>
{% endblock %}
